services:
  app:
    container_name: jobsync_app
    build:
      context: .
      dockerfile: Dockerfile
    image: jobsync_app_image
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      DATABASE_URL: file:/data/dev.db
      # Change your initial username and password here
      USER_EMAIL: ${USER_EMAIL}
      USER_PASSWORD: ${USER_PASSWORD}
      # Refer to readme to generate auth secret
      AUTH_SECRET: ${AUTH_SECRET}
      NEXTAUTH_URL: ${NEXTAUTH_URL}
      AUTH_TRUST_HOST: ${AUTH_TRUST_HOST}
    volumes:
      - ./jobsyncdb/data:/data
