services:
  app:
    container_name: jobsync_app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    environment:
      # Please do not forget to create and update your .env file
      - NODE_ENV=production
      - DATABASE_URL=file:/data/dev.db
      - USER_EMAIL=${USER_EMAIL}
      - USER_PASSWORD=${USER_PASSWORD}
      - AUTH_SECRET=${AUTH_SECRET}
      - NEXTAUTH_URL=${NEXTAUTH_URL}
      - AUTH_TRUST_HOST=${AUTH_TRUST_HOST}
      - OLLAMA_BASE_URL=${OLLAMA_BASE_URL}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    volumes:
      - ./jobsyncdb/data:/data
    restart: unless-stopped

  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    restart: unless-stopped
    environment:
      - N8N_HOST=quamat.myasustor.com
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - WEBHOOK_URL=https://quamat.myasustor.com:5678/
      - N8N_EDITOR_BASE_URL=https://quamat.myasustor.com:5678/
      - N8N_ALLOWED_ORIGINS=https://quamat.myasustor.com:5678
      - GENERIC_TIMEZONE=Europe/Rome
      - N8N_SECURE_COOKIE=true
      - EXECUTIONS_DATA_PRUNE=true
      - EXECUTIONS_DATA_MAX_AGE=1440 # 60 days * 24h
      - EXECUTIONS_DATA_PRUNE_MAX_COUNT=100000
      - EXECUTIONS_DATA_SAVE_ON_SUCCESS=all # or ‘none’ to save space
      - EXECUTIONS_DATA_SAVE_ON_ERROR=all
      - EXECUTIONS_DATA_SAVE_ON_PROGRESS=false
    volumes:
      - ./n8n_data:/home/node/.n8n

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ./ollama_data:/root/.ollama
    restart: unless-stopped
    tty: true

  npm:
    image: jc21/nginx-proxy-manager:latest
    container_name: nginx-proxy-manager
    restart: unless-stopped
    ports:
      - "5678:443"
      - "8081:81"
    volumes:
      - /volume1/docker/npm/data:/data
      - /volume1/docker/npm/letsencrypt:/etc/letsencrypt

